<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
        <f:metadata>
       		<f:event type="preRenderView" listener="#{resourceEconomyBean.loadResourceEconomy}"/>
			<f:event type="preRenderView" listener="#{buildingBean.loadExtractAndConvertBuildings}"/>
		</f:metadata>
		<ui:define name="resource">
			<h:dataTable id="resourceTable" value="#{resourceEconomyBean.resources}" var="r">

        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />		
        			</f:facet>
        			<h:outputText value="#{r.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{r.count}" />
        		</h:column>
       		</h:dataTable>
		</ui:define>
		
        <ui:define name="content">
        
        <h:form>
        <h:dataTable id="foodBuildingsTable" value="#{buildingBean.foodExtractBuildings}" var="b"
        headerClass="order-table-header"
    		rowClasses="order-table-odd-row,order-table-even-row"
    	   >
    	   
    	   		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="id" />
        				
        			</f:facet>
        			<h:outputText value="#{b.id}" />
        		</h:column>
        		
    	   		<h:column>
    	   			<h:link value="#{b.name}"  outcome="buildingDetails" >
    	   				<f:param name="buildingId" value="#{b.id}"/> 
					</h:link>
				</h:column>
				
<!--         		<h:column> -->
<!--         			<f:facet name="header" > -->
<!--         				<h:outputText value="name" /> -->
        				
<!--         			</f:facet> -->
<!--         			<h:outputText value="#{b.name}" /> -->
<!--         		</h:column> -->
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="max people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.maxPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="min people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.minPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="produkcja" />
        				
        			</f:facet>
        			<h:outputText value="#{b.production}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="actual people" />
        			</f:facet>
        			<h:inputText value="#{b.actualPeople}" size="4">
		       			<f:converter converterId="javax.faces.Integer"/>
		       		</h:inputText>
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="level" />
        			</f:facet>
        			<h:outputText value="#{b.level}" />
        		</h:column>
        		
        </h:dataTable>
        
        <h:dataTable id="resourceBuildingsTable" value="#{buildingBean.resourceExtractBuildings}" var="b"
        headerClass="order-table-header"
    		rowClasses="order-table-odd-row,order-table-even-row"
    	   >
    	   
    	   		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="id" />
        				
        			</f:facet>
        			<h:outputText value="#{b.id}" />
        		</h:column>
        		
    	   		<h:column>
    	   			<h:link value="#{b.name}"  outcome="buildingDetails" >
    	   				<f:param name="buildingId" value="#{b.id}"/> 
					</h:link>
				</h:column>
				
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />
        				
        			</f:facet>
        			<h:outputText value="#{b.name}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="max people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.maxPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="min people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.minPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="produkcja" />
        				
        			</f:facet>
        			<h:outputText value="#{b.production}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="actual people" />
        				
        			</f:facet>
        			<h:inputText value="#{b.actualPeople}" size="4">
		       			<f:converter converterId="javax.faces.Integer"/>
		       		</h:inputText>
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="level" />
        				
        			</f:facet>
        			<h:outputText value="#{b.level}" />
        		</h:column>
        		
        		<h:column>
<!-- 					<h:commandButton value="upgrade" action="#{buildingBean.upgradeBuilding}"/> -->
					
					<h:commandLink value="upgrade" action="#{buildingBean.upgradeBuilding}" >
						<f:setPropertyActionListener 
							target="#{buildingBean.selected}" 
							value="#{b}" />
					</h:commandLink>
				</h:column>
        </h:dataTable>
        
        
        <h:commandButton value="Save Changes" action="#{buildingBean.save}" />
        <h:commandLink value="save people" action="#{buildingBean.save}"/>
        </h:form>
        	
        	
<!--         	ret.setBuildTime(b.getBuildTime(ucc)); -->
<!-- 		ret.setName(b.getName(ucc)); -->
<!-- 		ret.setDescription(b.getDescription(ucc)); -->
<!-- 		ret.setId(b.getId()); -->
<!-- 		ret.setLevel(ucc.getLevel(b.getId())); -->
<!-- 		ret.setMaxPeople(b.getMaxPeople(ucc)); -->
<!-- 		ret.setMinPeople(b.getMinPeople(ucc)); -->
		
<!--         	<h:dataTable id="bikesTable" value="#{bikesListBean.bikesList}" var="b"> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.name']}" /> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.name}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.price']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.price}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.discountprice']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.discountPrice}" rendered="#{b.discount}"/> -->
<!--                       <h:outputText value="oo" rendered="#{!b.discount}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.details']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:button outcome="bikeDetails" value="#{msg['bikes.list.seebike']}"> -->
<!--                        	<f:param name="bikeId" value="#{b.id}"/> -->
<!--                       </h:button> -->
<!--                   </h:column> -->
<!--               </h:dataTable> -->
              
        </ui:define>

  </ui:composition>
</html>