<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
       <f:metadata>
			<f:event type="preRenderView" listener="#{resourceEconomyBean.loadResourceEconomy}"/>
			<f:event type="preRenderView" listener="#{economyBean.loadEconomy}"/>
		</f:metadata>
		
		<ui:define name="resource">
			<h:dataTable id="resourceTable" value="#{resourceEconomyBean.resources}" var="r">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />		
        			</f:facet>
        			<h:outputText value="#{r.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{r.count}" />
        		</h:column>
       		
       		</h:dataTable>
		</ui:define>
		
        <ui:define name="content">
        
        	<h:dataTable id="foodTable" value="#{economyBean.food}" var="b">
        	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />
        				
        			</f:facet>
        			<h:outputText value="#{b.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        				
        			</f:facet>
        			<h:outputText value="#{b.count}" />
        		</h:column>
        		
        	</h:dataTable>
        	
<!--         	<h:outputText value="#{msg.prompt}"/> -->
        	pasek ludzi:
        	<h:outputText id="peopleLimit" value="#{economyBean.currentPeopleLimit}" />
        	<br/>
        	ilosc ludzi:
        	<h:outputText id="peopleCount" value="#{economyBean.peopleCount}" />
        	<br/>
			<h:form>
	       		<h:outputText value="nowa ilosc ludzi: "/>
	       		<h:inputText value="#{economyBean.newPeopleCount}" >
	       			<f:converter converterId="javax.faces.Integer"/>
	       		</h:inputText>
	       		<br/>
	       		<h:commandButton action="#{economyBean.setPeopleLimit}" value="#{msg['bikes.add.button']}" />
       		</h:form>
        	satysfakcja:
        	<h:outputText id="satisfaction" value="#{economyBean.satisfaction}" />
        	<br/>
        	birth rate:
        	<h:outputText id="birthRate" value="#{economyBean.birthRate}" />
<!--             	<f:attribute name="textOutput" value="OutputText"/> -->
<!--             </h:outputText> -->
        	
        	
        	
<!--         	ret.setBuildTime(b.getBuildTime(ucc)); -->
<!-- 		ret.setName(b.getName(ucc)); -->
<!-- 		ret.setDescription(b.getDescription(ucc)); -->
<!-- 		ret.setId(b.getId()); -->
<!-- 		ret.setLevel(ucc.getLevel(b.getId())); -->
<!-- 		ret.setMaxPeople(b.getMaxPeople(ucc)); -->
<!-- 		ret.setMinPeople(b.getMinPeople(ucc)); -->
		
<!--         	<h:dataTable id="bikesTable" value="#{bikesListBean.bikesList}" var="b"> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.name']}" /> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.name}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.price']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.price}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.discountprice']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.discountPrice}" rendered="#{b.discount}"/> -->
<!--                       <h:outputText value="oo" rendered="#{!b.discount}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.details']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:button outcome="bikeDetails" value="#{msg['bikes.list.seebike']}"> -->
<!--                        	<f:param name="bikeId" value="#{b.id}"/> -->
<!--                       </h:button> -->
<!--                   </h:column> -->
<!--               </h:dataTable> -->
              
        </ui:define>

  </ui:composition>
</html>