<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
        <f:metadata>
			<f:viewParam name="buildingId" value="#{buildingDetails.buildingId}"/>
			<f:event type="preRenderView" listener="#{resourceEconomyBean.loadResourceEconomy}"/>
			<f:event type="preRenderView" listener="#{buildingDetails.loadMilitaryBuilding}"/>
		</f:metadata>
       
       	<ui:define name="resource">
			<h:dataTable id="resourceTable" value="#{resourceEconomyBean.resources}" var="r">

        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />		
        			</f:facet>
        			<h:outputText value="#{r.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{r.count}" />
        		</h:column>
       		</h:dataTable>
		</ui:define>
       
        <ui:define name="content">
        	<b><h:outputText value="#{msg['bikes.list.details']}"/></b><br/><br/>
       		<h:outputText value="nazwa "/><h:outputText value="#{buildingDetails.militaryBuilding.name}" /><br/>
       		<h:outputText value="opis "/><h:outputText value="#{buildingDetails.militaryBuilding.description}" /><br/>
       		
       		<h:dataTable id="costTable" value="#{buildingDetails.militaryBuilding.cost}" var="cr">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="typ surowca:" />		
        			</f:facet>
        			<h:outputText value="#{cr.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{cr.count}" />
        		</h:column>
       		
       		</h:dataTable>
       		
       		<h:form>
       		<h:dataTable id="unitsTable" value="#{buildingDetails.militaryBuilding.units}" var="u">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="unit name:" />		
        			</f:facet>
        			<h:outputText value="#{u.name}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="count:" />
        			</f:facet>
        			<h:outputText value="#{u.count}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="build:" />
        			</f:facet>
        			<h:inputText value="#{u.buildCount}" size="4">
		       			<f:converter converterId="javax.faces.Integer"/>
		       		</h:inputText>
        		</h:column>
       		
       		</h:dataTable>
       		<h:commandLink value="build army" action="#{buildingDetails.buildArmy}"/>
       		</h:form>
       		
       		
       		<h:form>
       			<h:commandLink value="upgrade" action="#{buildingDetails.upgradeBuilding}"  />
       		</h:form>
       
        </ui:define>

  </ui:composition>
</html>
