<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
        <f:metadata>
       		<f:event type="preRenderView" listener="#{resourceEconomyBean.loadResourceEconomy}"/>
		</f:metadata>
		<ui:define name="resource">
			<h:dataTable id="resourceTable" value="#{resourceEconomyBean.resources}" var="r">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />		
        			</f:facet>
        			<h:outputText value="#{r.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{r.count}" />
        		</h:column>
       		
       		</h:dataTable>
		</ui:define>

  </ui:composition>
</html>