<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="/mainTemplate.xhtml">
       
        <ui:define name="content">
       		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae enim tincidunt ante malesuada pretium. Nunc in lorem turpis, ut vehicula sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec fringilla fringilla risus ac pulvinar. Maecenas a sem at sem suscipit sollicitudin. Aliquam in tortor ac mi blandit hendrerit. Nulla cursus porttitor diam eu aliquet. Curabitur vel semper mi. Aenean id risus a tellus interdum varius id vitae odio. Morbi eleifend tortor ut dui vulputate egestas. Sed tempus adipiscing vehicula. 
        </ui:define>
        
<!--         <ui:define name="cities"> -->
<!--             <h:dataTable id="cityTable" value="#{loginBean.cityList}" var="b"> -->
<!--                  <h:column> -->
<!--                      <f:facet name="header" > -->
<!--                          <h:outputText value="#{msg['bikes.list.name']}" /> -->
<!--                      </f:facet>     -->
<!--                      <h:outputText value="#{b.name}"/> -->
<!--                  </h:column> -->
<!--              </h:dataTable> -->
<!--         </ui:define> -->

  </ui:composition>
</html>
