<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
<!-- 	   xmlns="http://www.w3.org/1999/xhtml" -->
<!--       xmlns:ui="http://java.sun.com/jsf/facelets" -->
<!--       xmlns:h="http://java.sun.com/jsf/html" -->
<!--       xmlns:f="http://java.sun.com/jsf/core" -->
<!--       xmlns:p="http://primefaces.org/ui" -->		
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bike Shop 2.0</title>
        
        
    </h:head>
    
<!--     <h:body style="background-image: url('images/wielblad.jpg');"> -->
		<h:body>
    	<ui:insert name="metadata" />
	    
	    <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
<!-- 	    <h:outputScript target="head"> -->
<!-- 		    $ = jQuery; -->
<!-- 		</h:outputScript> -->
<!-- 		<h:outputStylesheet library="css" name="layout.css" target="head"/> -->
		<h:outputStylesheet library="css" name="style.css"  target="head "/>
        
<!--         <p:poll listener="#{counterBean.increment}" update="txt_count" /> -->
        
        <p:layout fullPage="true" id="fullPage">

                <p:layoutUnit id="top" position="north" size="50">

                    <p:menubar autoSubmenuDisplay="true">
                        
                        <p:menuitem value="ekonomia" outcome="/test/economy" />
                        <p:menuitem value="budynki" outcome="/test/budynki2" />

                        <p:submenu label="Help" icon="ui-icon-help">
                            <p:menuitem value="Contents" url="#" />
                            <p:submenu label="Search" icon="ui-icon-search">
                                <p:submenu label="Text">
                                    <p:menuitem value="Workspace" url="#" />
                                </p:submenu>
                                <p:menuitem value="File" url="#" />
                            </p:submenu>
                        </p:submenu>
                    </p:menubar>
                </p:layoutUnit>

                <p:layoutUnit id="bottom" position="south" size="60">
                    <h:outputLink value="http://code.google.com/p/primefaces/source/browse/examples/trunk/showcase/src/main/webapp/ui/layoutComplex.xhtml">
                                View Page Source (layoutComplex.xhtml)
                    </h:outputLink>

                    <br />

                    <h:outputLink value="http://code.google.com/p/primefaces/source/browse/examples/trunk/showcase/src/main/java/org/primefaces/examples/view/LayoutBean.java">
                                View Backing Bean Source (LayoutBean.java)
                    </h:outputLink>
                </p:layoutUnit>

                <p:layoutUnit id="left" position="west" size="370" resizable="true" closable="true" collapsible="true" header="Options" minSize="200">
					<ui:insert name="leftMenu"/>
                </p:layoutUnit>

                <p:layoutUnit id="right" position="east" size="250" header="Gallery" resizable="true" closable="true" collapsible="true"
                              style="text-align:center">
					<ui:include src="/test/resources.xhtml" />

                </p:layoutUnit>

                <p:layoutUnit id="center" position="center">
					
					<ui:insert name="content" />
					 

                </p:layoutUnit>

            </p:layout>
        
 
    </h:body>
    
</html>