.test
{
	font-size: 12px;
	color: red;
}

.ui-panel-titlebar
{
	height:60px;
}
.good_eco
{
	color: green;
}
.bad_eco
{
	color:red;
}
.productionExpand
{
	width:200px;
	height:100px;
	border: 0px !important;
	background-color:white !important;
	opacity: 1.0 !important;
}
.slider-range-min
{
	background-color:white;
}

#center .ui-widget-content {
border: 1px solid #a8a8a8;
background-color: transparent;
color: #4f4f4f;
}

.ui-widget-header, #foodTable td,th
{
	text-shadow: none !important;
	background: none !important;
	background-color: black !important;
	opacity: 1.0 !important;
	color: grey !important;
	padding: 2px !important;
}

#foodTableForm td
{
	background: rgba(0, 0, 0, 0.8);
}
#foodTableForm table
{
	width:400px;
	border-collapse: separate; 
    border-spacing: 4px; 
    *border-collapse: expression('separate', cellSpacing = '4px');
}
div.ui-dt-c{
	padding:0px !important;
}
.toggler
{
	width: 20px;
    height: 20px;
    
    background-color: #f00;
}
#center
{
	background: rgba(0,0,0,0);
}
body
{
	background-image: url('images/winter.jpg');
}

.redColoredPanel.ui-panel{
	padding:0px;
	
	border:10px;
}
.redColoredPanel .ui-widget-header {
	color: rgb(207, 207, 207);
	text-shao
	opacity: 1.0;
	background: none;
	background-color: rgba(53, 53, 53, 0.71);
	opacity: 1.0;
}
.ui-widget-header {
	color: #333;
	font-weight: normal;
	text-shadow: none;
	background: none;
}




.ui-slider
{
	width:100px;
}
.ui-panel .ui-panel-title {
font-size:12px;
}
.ui-panel-content
{
font-size:12px;	
}
.ui-helper-hidden {display: none;}
.ui-widget, .ui-widget .ui-widget {
    font-size: 12px;
}