<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"  
      >
  <ui:composition template="../mainTemplate.xhtml">
       
        <f:metadata>
<!--        <f:event type="preRenderView" listener="#{resourceEconomyBean.loadResourceEconomy}"/> -->

			<f:event type="preRenderView" listener="#{requestBean.loadCityState}"/>
			<f:event type="preRenderView" listener="#{resourceBean.loadResources}"/>
			<f:event type="preRenderView" listener="#{buildingBean.loadExtractAndConvertBuildingsPage}"/>
		</f:metadata>
		
<!-- 		<ui:define name="resources"> -->
<!-- 			<ui:include src="/test/resources.xhtml" /> -->
			
<!-- 		</ui:define> -->
		
        <ui:define name="leftMenu">
        	  
        <h:form id="buildingsForm">
    	
    	<p:dataList id="foodBuildingsTablePanel" value="#{buildingBean.foodExtractBuildings}" var="b"
        headerClass="order-table-header"
    		rowClasses="order-table-odd-row,order-table-even-row"
    		
    		styleClass="budynki"
    		type="definition"
    	   >
    	
		    	<p:panel toggleable="true" collapsed="true">  
		    		<f:facet name="header">		    			
		    			<h:outputText value="id: #{b.id} "/>
		    			<h:outputText value=",name: #{b.name} "/>
		    			<h:outputText value=",max ludzi: #{b.maxPeople} " />
		    			<h:outputText value=",produkcja: #{b.production} " />
		    			<h:outputText value=",level: #{b.level}" />
		    			
		    			<h:outputText value=",ilosc ludzi: " />
				        <p:inputText id="txt1" value="#{b.actualPeople}" style="width: 30px; font-size: 12px;"/>
				        <p:slider for="txt1" maxValue="#{b.maxPeople}" style=" width: 200px;" />
		    		</f:facet>
					
						<p:dataList id="buildingPrice" value="#{b.cost}" var="cr">
							<h:outputText value="#{cr.type}"/>
							<h:outputText value="#{cr.count}"/>	
						</p:dataList>
						
							<p:tabView id="tabView">  
  
							    <p:tab id="tab1" title="Jednostki">
								        <h:panelGrid columns="2" cellpadding="10">  
								              <p:dataList id="jednostkiList" value="#{b.units}" var="u">
								              	<h:outputText value="id: #{u.id}"/>
								              	<h:outputText value="name: #{u.name}"/>
								              	<p:commandLink update=":buildingsForm:foodBuildingsTablePanel:tabView:unitDetails" title="View Detail" actionListener="#{unitDetailsBean.loadUnit}">  
		                    							<h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />  
		                    							<f:setPropertyActionListener value="#{u.id}"
		                            						target="#{unitDetailsBean.unitId}" />  
		                						</p:commandLink> 
								              </p:dataList>  
								              <h:panelGrid columns="1" style="width:100%" id="unitDetails">
								              		 <h:outputText id="unitName" value="#{unitDetailsBean.unit.name}" />  
								              </h:panelGrid>
								        </h:panelGrid>  

							    </p:tab>  
							  
							    <p:tab id="tab2" title="Badania">
								        <h:panelGrid columns="2" cellpadding="10">  
								              <p:dataList id="badaniaList" value="#{b.researches}" var="r">
								              	<h:outputText value="id: #{r.id}"/>
								              	<h:outputText value="name: #{r.name}"/>
								              	<p:commandLink update=":buildingsForm:foodBuildingsTablePanel:tabView:researchDetails" title="View Detail" actionListener="#{researchDetailsBean.loadResearch}">  
		                    							<h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />  
		                    							<f:setPropertyActionListener value="#{u.id}"
		                            						target="#{researchDetailsBean.researchId}" />  
		                						</p:commandLink>
								              </p:dataList>
								              <h:panelGrid columns="1" style="width:100%" id="researchDetails">
								              		 <h:outputText id="researchName" value="#{researchDetailsBean.research.name}" />  
								              </h:panelGrid>  
								        </h:panelGrid>
							    </p:tab>
						  
							</p:tabView>  
						
       					<h:commandLink value="upgrade" action="#{buildingBean.upgradeBuilding(b.id)}"  />
       					
		    	</p:panel>
     	
    	</p:dataList> 
    
        <h:dataTable id="foodBuildingsTable" value="#{buildingBean.foodExtractBuildings}" var="b"
        headerClass="order-table-header"
    		rowClasses="order-table-odd-row,order-table-even-row"
    	   >
    	   		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="id" />
        				
        			</f:facet>
        			<h:outputText value="#{b.id}" />
        		</h:column>
        		
    	   		<h:column>
    	   			<h:link value="#{b.name}" outcome="buildingDetails" >
    	   				<f:param name="buildingId" value="#{b.id}"/> 
					</h:link>
				</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="max people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.maxPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="min people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.minPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="produkcja" />
        				
        			</f:facet>
        			<h:outputText value="#{b.production}" />
        		</h:column>
 
        		<h:column>
        				<p:growl id="growl" showDetail="true" />  
				    	<h:panelGrid columns="1" style="margin-bottom:10px; height:3px;">  
				        	<p:inputText id="txt1" value="#{b.actualPeople}" style="width: 30px; font-size: 12px;" />
				        	<p:slider for="txt1" maxValue="#{b.maxPeople}" style="width: 150px;"/>  
				     	</h:panelGrid>
				</h:column>  
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="level" />
        			</f:facet>
        			<h:outputText value="#{b.level}" />
        		</h:column>
    
    	   		
        		
        </h:dataTable>
        
        <h:dataTable id="resourceBuildingsTable" value="#{buildingBean.resourceExtractBuildings}" var="b"
        headerClass="order-table-header"
    		rowClasses="order-table-odd-row,order-table-even-row"
    	   >
    	   
    	   		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="id" />
        				
        			</f:facet>
        			<h:outputText value="#{b.id}" />
        		</h:column>
        		
    	   		<h:column>
    	   			<h:link value="#{b.name}" outcome="buildingDetails" >
    	   				<f:param name="buildingId" value="#{b.id}"/> 
					</h:link>
				</h:column>
				
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />
        				
        			</f:facet>
        			<h:outputText value="#{b.name}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="max people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.maxPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="min people" />
        				
        			</f:facet>
        			<h:outputText value="#{b.minPeople}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="produkcja" />
        				
        			</f:facet>
        			<h:outputText value="#{b.production}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="actual people" />
        				
        			</f:facet>
        			<h:inputText value="#{b.actualPeople}" size="4">
		       			<f:converter converterId="javax.faces.Integer"/>
		       		</h:inputText>
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="level" />
        				
        			</f:facet>
        			<h:outputText value="#{b.level}" />
        		</h:column>
        		
        		<h:column>
<!-- 					<h:commandButton value="upgrade" action="#{buildingBean.upgradeBuilding}"/> -->
					
					<h:commandLink value="upgrade" action="#{buildingBean.upgradeBuilding}" >
						<f:setPropertyActionListener 
							target="#{buildingBean.selected}" 
							value="#{b}" />
					</h:commandLink>
				</h:column>
        </h:dataTable>
        
        
        <h:commandButton value="Save Changes" action="#{buildingBean.save}" />
        <h:commandLink value="save people" action="#{buildingBean.save}"/>
        </h:form>
        	
        	
<!--         	ret.setBuildTime(b.getBuildTime(ucc)); -->
<!-- 		ret.setName(b.getName(ucc)); -->
<!-- 		ret.setDescription(b.getDescription(ucc)); -->
<!-- 		ret.setId(b.getId()); -->
<!-- 		ret.setLevel(ucc.getLevel(b.getId())); -->
<!-- 		ret.setMaxPeople(b.getMaxPeople(ucc)); -->
<!-- 		ret.setMinPeople(b.getMinPeople(ucc)); -->
		
<!--         	<h:dataTable id="bikesTable" value="#{bikesListBean.bikesList}" var="b"> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.name']}" /> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.name}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.price']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.price}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.discountprice']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.discountPrice}" rendered="#{b.discount}"/> -->
<!--                       <h:outputText value="oo" rendered="#{!b.discount}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.details']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:button outcome="bikeDetails" value="#{msg['bikes.list.seebike']}"> -->
<!--                        	<f:param name="bikeId" value="#{b.id}"/> -->
<!--                       </h:button> -->
<!--                   </h:column> -->
<!--               </h:dataTable> -->
              
        </ui:define>

  </ui:composition>
</html>