<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      >
  <ui:composition
  xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
   template="../mainTemplate.xhtml">

		<ui:define name="metadata">
		<f:metadata>
	    
<!-- 	   	<f:viewAction action="#{requestBean.loadCityState}" onPostback="true"/>  -->
<!-- 	   	<f:viewAction action="#{resourceBean.loadResources}" onPostback="true"/>  -->
<!-- 	    <f:viewAction action="#{buildingBean.loadExtractAndConvertBuildingsPage}" onPostback="true"/>  -->
	    	
			<f:event type="preRenderView" listener="#{requestBean.loadCityState}"/>
			<f:event type="preRenderView" listener="#{resourceBean.loadResources}"/>
			<f:event type="preRenderView" listener="#{buildingBean.loadExtractAndConvertBuildingsPage}"/>
<!-- 			<f:event type="preRenderView" listener="#{buildingBean.loadCityBuildings}"/> -->
			<f:event type="preRenderView" listener="#{buildingBean.loadMilitaryBuildings}"/>
		</f:metadata>
		</ui:define>
		
		<ui:define id="lm" name="leftMenu">
			
			<h:form id="bform">
				
				<p:tabView id="tabView">
			  		
<!-- 			  		<p:ajax event="tabChange" listener="#{buildingBean.onTabChange}"/> -->
			  		
			        <p:tab id="tba1" title="jedzenie">
			            
	            		<p:dataGrid var="b" value="#{buildingBean.foodExtractBuildings}" columns="3"  
				        		rows="12" id="dataGrid">
				  
						        <p:panel header="#{b.name}" style="text-align:center" id="bPanel">
						            <h:panelGrid columns="1" style="width:100%" id="pGrid">
						                <p:graphicImage value="/images/cars/#{car.manufacturer}.jpg"/>   
						  
						                <h:outputText value="#{b.level}" />
						                <h:outputText value="id: #{b.id}" />    
						  
						                <p:commandLink id="buildingLink" update=":mCon"  title="View Detail"
						                	 action="#{buildingDetails.loadExtractBuilding(b.id)}" oncomplete="mainPanelWidget.show()">
						                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
						                    <f:setPropertyActionListener value="extractBuilding"
						                            target="#{mainContentBean.content}" />  
						                </p:commandLink>

						            </h:panelGrid>  
						        </p:panel>  
				    	</p:dataGrid>
			        </p:tab>  
			  
			        <p:tab id="tab2" title="surowce">  
			        	<p:dataGrid var="b" value="#{buildingBean.resourceExtractBuildings}" columns="3"  
				        		rows="12" >  
				  
						        <p:panel header="#{b.name}" style="text-align:center">  
						            <h:panelGrid columns="1" style="width:100%">  
						                <p:graphicImage value="/images/cars/#{car.manufacturer}.jpg"/>   
						  
						  				<h:outputText value="#{b.name}" />
						                <h:outputText value="#{b.level}" /> 
						                <p:commandLink id="buildingLink" update=":mCon"  title="View Detail"
						                	 action="#{buildingDetails.loadExtractBuilding(b.id)}" oncomplete="mainPanelWidget.show()">
						                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
						                    <f:setPropertyActionListener value="extractBuilding"
						                            target="#{mainContentBean.content}" />  
						                </p:commandLink> 

						            </h:panelGrid>  
						        </p:panel>  
				    	</p:dataGrid>  
			        </p:tab>  
			  
			        <p:tab id="tab3" title="militarne">  
			            <p:dataGrid var="b" value="#{buildingBean.militaryBuildings}" columns="3"  
				        		rows="12">  
				  
						        <p:panel header="#{b.name}" style="text-align:center">  
						            <h:panelGrid columns="1" style="width:100%">  
						                <p:graphicImage value="/images/cars/#{car.manufacturer}.jpg"/>   
						  
						                <h:outputText value="#{b.level}" />
						                <p:commandLink id="buildingLink" update=":mCon"  title="View Detail"
						                	 action="#{cityBuildingDetails.loadCityBuilding(b.id)}" oncomplete="mainPanelWidget.show()">
						                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
						                    <f:setPropertyActionListener value="cityBuilding"
						                            target="#{mainContentBean.content}" />  
						                </p:commandLink>   
										
						            </h:panelGrid>  
						        </p:panel>  
				  
				    	</p:dataGrid>  
			        </p:tab>  
			  
			    </p:tabView>
			    
				   
			</h:form>  
			    
		</ui:define>
		
		<ui:define id="con" name="content">
			<h3>Ajax Slider</h3>  
        		<p:growl id="growl" showDetail="true" /> 
			    <h:panelGrid columns="1" style="margin-bottom:10px">  
			        <p:inputText id="asdfg" value="20" />  
			        <p:slider for="asdfg" minValue="10" maxValue="100">  
			            <p:ajax event="slideEnd" listener="#{buildingDetails.onSlideEnd}" update="growl"/>  
			        </p:slider>  
			    </h:panelGrid> 
			<p:commandButton id="chartBtn" value="Basic" type="button" /> 
			<p:overlayPanel id="chartPanel" hideEffect="fade" appendToBody="true" for="chartBtn">  
				<h:outputText value="asd" />
    		</p:overlayPanel>
    		
    			  
    				<ui:include src="objectDetail.xhtml"/>
				
		    
    		<p:dialog header="Building Detail" widgetVar="unitDialog" modal="false" appendToBody="true">   
   				<p:outputPanel id="UnitDetail" style="text-align:center;" layout="block">
					<h:outputText value="unit"/>				        
        		</p:outputPanel>  
			</p:dialog>
		</ui:define>
       
  </ui:composition>
</html>