<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
        <f:metadata>
        
        	<f:event type="preRenderView" listener="#{gameBean.loadCityState}"/>
			<f:event type="preRenderView" listener="#{buildingBean.loadCityBuildings}"/>
			<f:event type="preRenderView" listener="#{resourceBean.loadResources}"/>
			
		</f:metadata>
		<ui:define name="resources">
			<ui:include src="/test/resources.xhtml" />
			
		</ui:define>
		
        <ui:define name="content">
        
        <h:form>
        <h:dataTable id="cityBuildingsTable" value="#{buildingBean.cityBuildings}" var="b"
        headerClass="order-table-header"
    		rowClasses="order-table-odd-row,order-table-even-row"
    	   >
    	   
    	   		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="id" />
        				
        			</f:facet>
        			<h:outputText value="#{b.id}" />
        		</h:column>
        		
    	   		<h:column>
    	   			<h:link value="#{b.name}"  outcome="militaryBuildingDetails" >
    	   				<f:param name="buildingId" value="#{b.id}"/> 
					</h:link>
				</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="level" />
        			</f:facet>
        			<h:outputText value="#{b.level}" />
        		</h:column>
        		
        </h:dataTable>
         
        </h:form>
        	
        	
<!--         	ret.setBuildTime(b.getBuildTime(ucc)); -->
<!-- 		ret.setName(b.getName(ucc)); -->
<!-- 		ret.setDescription(b.getDescription(ucc)); -->
<!-- 		ret.setId(b.getId()); -->
<!-- 		ret.setLevel(ucc.getLevel(b.getId())); -->
<!-- 		ret.setMaxPeople(b.getMaxPeople(ucc)); -->
<!-- 		ret.setMinPeople(b.getMinPeople(ucc)); -->
		
<!--         	<h:dataTable id="bikesTable" value="#{bikesListBean.bikesList}" var="b"> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.name']}" /> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.name}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.price']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.price}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.discountprice']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:outputText value="#{b.discountPrice}" rendered="#{b.discount}"/> -->
<!--                       <h:outputText value="oo" rendered="#{!b.discount}"/> -->
<!--                   </h:column> -->
<!--                   <h:column> -->
<!--                       <f:facet name="header" > -->
<!--                           <h:outputText value="#{msg['bikes.list.details']}"/> -->
<!--                       </f:facet>     -->
<!--                       <h:button outcome="bikeDetails" value="#{msg['bikes.list.seebike']}"> -->
<!--                        	<f:param name="bikeId" value="#{b.id}"/> -->
<!--                       </h:button> -->
<!--                   </h:column> -->
<!--               </h:dataTable> -->
              
        </ui:define>

  </ui:composition>
</html>