<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      >
  <ui:composition 
  xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
  template="../mainTemplate.xhtml">
       
       <ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{requestBean.loadCityState}"/>
			<f:event type="preRenderView" listener="#{ecoBean.loadEconomy}"/>
			<f:event type="preRenderView" listener="#{foodBean.loadFood}"/>
			<f:event type="preRenderView" listener="#{resourceBean.loadResources}"/>
		</f:metadata>
		</ui:define>
		
        <ui:define id="con2" name="content">
       		
       	<p:panelGrid style="margin-top:20px">  
		    <f:facet name="header">  
		        <p:row>  
		            <p:column >spichlerz</p:column>  
		        </p:row>  
		        
		    </f:facet>  
		  
		    <p:row>  
		    <p:column>
				<h:form id="foodTableForm">
	        	<p:dataTable id="foodTable" value="#{foodBean.food}" var="b" widgetVar="fTable">
	        	
	        		<p:column style="display:none;visibility:hidden;">
	        			<f:facet name="header" >
	        				<h:outputText value="storage" />
	        				
	        			</f:facet>
	        			<h:outputText id="storage" value="#{b.storage}" />
	        		</p:column>
	        		
	        		<p:column style="display:none;visibility:hidden;">
	        			<f:facet name="header" >
	        				<h:outputText value="type" />
	        				
	        			</f:facet>
	        			<h:outputText id="type" value="#{b.type}" />
	        		</p:column>
	        		
	        		<p:column style="width:20px;">
	        			<f:facet name="header" >
	        				
	        				count
	        			</f:facet>
	        			<h:outputText value="#{b.type}:" />
	        			
	        			<h:outputText id="count" value="#{b.count}" />
	        			
	        		</p:column>
	        		
	        		<p:column style="width:20px;">
	        			<f:facet name="header" >
	        				<h:outputText value="przyrost" />
	        				
	        			</f:facet>
	        			<div id="growth_div">
	        				<h:outputText id="growth" value="0" />
	        			</div>
	        		</p:column>
	        		
	        		<p:column style="width:70px;padding:0px">
	        			<f:facet name="header" style="margin:0px;padding:0px;">
	        				<h:outputText value="produkcja" />
	        			</f:facet>
	        			<p:panel id="production" style="color:green;">  
	        				<h:outputText id="productionValue" value="#{b.extractionPerHour}"/>
	        				   
	    				</p:panel>
	    				<p:overlayPanel styleClass="productionExpand" for="production" id="pasekPanel" appendToBody="false" at="right top" my="left top">
	<!-- 					    <h:outputText value="#{b.extractionPerHour}" style="float:left;display:inline;" /> -->
	
		        			<div class="slider-range-min" style="width:100px;">
								
								<h:panelGrid columns="4">
								<h:outputText value="ilość ludzi:" />
		        				<p:inputText id="currentPeople" value="#{b.currentPeople}" style="width:40px;"/>
		        				/
		        				<h:outputText id="maxPeople"  value="#{b.maxBuildingPeople}" />
		        				</h:panelGrid>
		        				<h:outputText value="urodzaj: " />
		        				<h:outputText id="lode"  value="#{b.lode}" />
		        				<h:inputHidden id="buildingId" value="#{b.buildingId}" />
		        				
		        				<div></div>
		        				
		        			</div>
					    </p:overlayPanel>
	    				  
	        		</p:column>
	        		
	        	</p:dataTable>
        		<p:remoteCommand name="slideEnd" actionListener="#{ecoBean.onSlideEnd}"/>
        		<p:remoteCommand name="updateEcoVars" actionListener="#{requestBean.loadEcoVars}" update="ecoVar" oncomplete="initVars();"/>
        		<h:inputHidden id="ecoVar" value="#{requestBean.eco}" />
        	
        		</h:form>    
        		</p:column>
		    </p:row>  
		    <p:row>
		    	<p:column>
			    	
			    	
			    	<p:panel id="pnl" style="width:400px;" toggleable="true" closable="false" toggleSpeed="500" closeSpeed="500" widgetVar="panel">  
				  
				  		<f:facet name="header">
				  			<h:outputText value="ludzie w domkach:"/>
					    	<h:outputText id="peopleInHouses" value="#{ecoBean.peopleInHouses}"/>
					    	<span>/</span>
					    	<h:outputText id="maxPeople" value="#{ecoBean.currentPeopleLimit}"/>
				  		
				  		</f:facet>
				        <h:outputText value="szczegóły" />  
				  	
				    </p:panel>  
			    	
		    	</p:column>
		    </p:row>
		</p:panelGrid>	
       	
        
        <p>
		  <label for="amount">Maximum price:</label>
		  <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
		</p>
		<h:outputText value="debug" id="debug"/>
		
		<script type="text/javascript">
        	//<![CDATA[
        	    
	     	function foodCount(hTime, dbv,  oph,  eph, p,  sz,  br,  SN, SOP, A,  B,  C)
			{
				 var K = eph*p + 0.5*hTime*br*eph+C+ 0.5*hTime*A*eph + sz*eph + 0.5*hTime*B - SN;
				 var new_ = dbv + hTime*(oph - ( K/SOP ));						
				 return new_;	
			}
	     	
	     	function przyrost(hTime, dbv,  oph,  eph, p,  sz,  br,  SN, SOP, A,  B,  C)
			{
				 var new_ = oph - ( hTime*(br*eph+A*eph+B) + eph*p + sz*eph - SN + C) /SOP;						
				 return new_;	
			}
	    	
	    	
	    	function calcGrowthCount(table)
	    	{
	    		for(var i=1; i<table.rows.length; i+=1){
		        	  var row = table.rows[i];
						
		        	  var type = $(row).find("[id$='type']")[0].innerHTML;
		        	  
					  var przyr = 0;
					  var dbv;
					  
					  for (var key in ecoV.startFoodCount) {
						  // do something with key
						  if(key == type)
							  {
							  	dbv = ecoV.startFoodCount[key];
							  	break;
							  }
						}
					  var oph = ecoV.startFoodOph[type];
					  var storage = ecoV.startFoodStorage[type];
					  
					  var foodC; 
					  if(storage == "nie" || storage == "nastyk")foodC = 0;
					  else
					  {
					  	foodC = foodCount(hTime, dbv, oph, ecoV.eph, ecoV.p, ecoV.sz , ecoV.br , ecoV.SN , ecoV.SOP , ecoV.A, ecoV.B, ecoV.C);
					  	przyr = przyrost(hTime, dbv, oph, ecoV.eph, ecoV.p, ecoV.sz , ecoV.br , ecoV.SN , ecoV.SOP , ecoV.A, ecoV.B, ecoV.C);
					  }
					  var countField = $(row).find("[id$='count']");
					  var growthField = $(row).find("[id$='growth']");
		        	  countField[0].innerHTML = foodC;
		        	  growthField[0].innerHTML = przyr;
			        }
	    	}
	    	
	    	var table = $("[id$='foodTable']")[0].firstChild.firstChild;
	    	var ecoVar;
	    	var peopleCount;
	    	var ecoV;
	    	var hNextRec;
	    	var hTime;
	    	var nextRec;
	    	var rowLength;
	    	function initVars()
	    	{
		    	 ecoVar = $("[id$='ecoVar']")[0];
		    	 console.log('init vars');
		    	 
		    	 console.log(ecoVar);
		    	 var ecoVarO = document.getElementById('ecoVarO');
		    	 
		    	 
		    	 peopleCount = document.getElementById('peopleCount');
		    	
		    	 ecoV = JSON.parse(ecoVar.value);
		    
		    	 hNextRec = ecoV.nextRec; 
		    	
		    	 hTime = ecoV.hTime;
		    	 nextRec = ecoV.nextRec;
		    	 console.log(table);
		    	 rowLength = table.rows.length;
		    	 calcGrowthCount(table);
		    	 for(var i=1; i<rowLength; i+=1){
		        	  var row = table.rows[i];
		        	  var storage = $(row).find("[id$='storage']")[0];
		        	  var growth_div = $(row).find("[id$='growth_div']")[0];
		        	  var growth = $(row).find("[id$='growth']")[0];
		        	  if(parseInt(growth.innerHTML) > 0)
	        		  {
		        		  $(growth_div).find('.salt').remove();  
		        		  $(growth_div).addClass("good_eco").removeClass("bad_eco");
		        		  $(growth_div).prepend("<span class='salt'>+</span>").append("<span class='salt'>/h</span>");
		        		  
	        		  }
		        	  if(parseInt(growth.innerHTML) < 0)
	        		  {
		        		  $(growth_div).find('.salt').remove();
		        		  $(growth_div).addClass("bad_eco").removeClass("good_eco");
		        		  $(growth_div).append("<span class='salt'>/h</span>");
	        		  }
		        	  //console.log($(row).find("[id$='count']")[0];
		    	 }
	    	}
	    	initVars();
	    	
	    	var ii = 0;
	        window.setInterval(function() {   
	        	console.log(ecoV.SOP);
	        	hTime += 1.0/3600.0;
	        	if(nextRec<= hTime)
        		{
	        		updateEcoVars();
	        		
	        		//window.location.reload();	
        		}
	        	
	        	calcGrowthCount(table);
	        	//peopleCount.innerHTML = ecoV.p + ecoV.br * hTime; 
	        	
	  
	     	}, 1000); 
			      //]]>
			</script>
			
        <script>
      //<![CDATA[
        
		  $(function() {
		    $( ".slider-range-min > div").each(function(){
		    	
		    	var curPeople = $(this).parent().find("[id$='currentPeople']")[0].value;
		    	var maxPeople = $(this).parent().find("[id$='maxPeople']")[0].innerHTML;
		    	var buildingId = $(this).parent().find("[id$='buildingId']")[0].value;
		    	var resourceTable = $("[id$='resourceTable']")[0];
		    	
		    //	console.log(resourceTable);
		    	
		    	var resTabLen = resourceTable.rows.length;
		    	
		    	//var freePeopleField = $(resourceTable).rows[1
		    	//console.log($(resourceTable.rows[1]).find("[id$='rtype']")[0] );
		    	for(var i=1; i<resTabLen; i+=1)
		    	{
		    	    if($(resourceTable.rows[i]).find("[id$='rtype']")[0].innerHTML == "freePeople")
		    		{
		    		    freePeopleField = $(resourceTable.rows[i]).find("[id$='count']")[0];
		    		}
		    	}
		    	//console.log(resTabLen);
		    	var startBuildPeople;
		    	var startFreePeople;
		    	
		    	$( this ).empty().slider({
		            value: parseInt(curPeople),
		            min: 0,
		    		max: parseInt(maxPeople),
		            range: "min",
		            animate: true,
		            step: 1,
		            stop: function( event, ui ){
		 			    var debug = $('#debug');
		 		    	var buildingId2 = $(this).parent().find("[id$='buildingId']")[0].value;
		 		    	var currPeople2 = $(this).parent().find("[id$='currentPeople']")[0].value;
		 		    	//startBuildPeople = currPeople2;
		 		    	startFreePeople = parseInt(freePeopleField.innerHTML); 
		 		    	
		 		    	slideEnd([{name:'buildingId', value:buildingId2}, {name:'peopleC', value: currPeople2}]);
		 		    	updateEcoVars();
		 		      },
		 		     start: function( event, ui ) {
		 		    	startBuildPeople = $(this).parent().find("[id$='currentPeople']")[0].value;
				    	startFreePeople = freePeopleField.innerHTML;
		 		     },
				      slide: function( event, ui ) {
				    	 
				    	 var curPeople = $(this).parent().find("[id$='currentPeople']");
				    	 
				    	 var lode = $(this).parent().find("[id$='lode']");
						 var row = $(this).parent().parent().parent().parent();
						 
						 var diff = parseInt( startBuildPeople ) - ui.value;
						 
						 //console.log(diff);
						
						 var finalFreePeople = parseInt(startFreePeople) + diff;
						 console.log(finalFreePeople);
						 if(finalFreePeople <= 0)
						 {
							 curPeople.val(ui.value + finalFreePeople);
							 freePeopleField.innerHTML = 0;
							 return false;
						 }
						 
						 curPeople.val(ui.value );
						 
						 freePeopleField.innerHTML = finalFreePeople;
						 
						 var prod = parseInt(lode[0].innerHTML) * curPeople[0].value;
						 
						 row.find("[id$='productionValue']")[0].innerHTML = prod;
				    	 
		 		      }
		          });
		    	
 		      
 		   });
		    //$( "#amount" ).val( "$" + $( "#slider-range-min" ).slider( "value" ) );
		  });
		//]]>
		</script>
        </ui:define>

  </ui:composition>
</html>