<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
        <f:metadata>
        
        <f:event type="preRenderView" listener="#{requestBean.loadCityState}"/>
			<f:viewParam name="buildingId" value="#{militaryBuildingDetails.buildingId}"/>
			
			
			<f:event type="preRenderView" listener="#{resourceBean.loadResources}"/>
			
			<f:event type="preRenderView" listener="#{militaryBuildingDetails.loadMilitaryBuilding}"/>
		</f:metadata>
       
       	<ui:define name="resources">
			<ui:include src="/test/resources.xhtml" />
		</ui:define>
       
        <ui:define name="content">
        	<b><h:outputText value="#{msg['bikes.list.details']}"/></b><br/><br/>
       		<h:outputText value="nazwa "/><h:outputText value="#{militaryBuildingDetails.militaryBuilding.name}" /><br/>
       		<h:outputText value="opis "/><h:outputText value="#{militaryBuildingDetails.militaryBuilding.description}" /><br/>
       		
       		<h:dataTable id="costTable" value="#{militaryBuildingDetails.militaryBuilding.cost}" var="cr">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="typ surowca:" />		
        			</f:facet>
        			<h:outputText value="#{cr.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{cr.count}" />
        		</h:column>
       		
       		</h:dataTable>
       		
       		<h:form>
       		<h:dataTable id="unitsTable" value="#{militaryBuildingDetails.militaryBuilding.units}" var="u">
       	
       			<h:column>
        			<f:facet name="header" >
        				<h:outputText value="if:" />
        			</f:facet>
        			<h:outputText value="#{u.id}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="unit name:" />		
        			</f:facet>
        			
        			<h:commandLink value="#{u.name}" action="#{militaryBuildingDetails.loadUnit}" >
<!--     	   				<f:param name="unitId" value="#{u.id}"/> -->
    	   				<f:setPropertyActionListener target="#{militaryBuildingDetails.unitId}" value="#{u.id}" />
    	   				<f:ajax render="objectDetails" />
					</h:commandLink>
					
        		</h:column>
        		
<!--         		<h:column> -->
<!--     	   			<h:link value="#{u.name}"  outcome="unitDetails" > -->
<!--     	   				<f:param name="buildingId" value="#{b.id}"/>  -->
<!-- 					</h:link> -->
<!-- 				</h:column> -->
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="count:" />
        			</f:facet>
        			<h:outputText value="#{u.count}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="build:" />
        			</f:facet>
        			<h:inputText value="#{u.buildCount}" size="4">
		       			<f:converter converterId="javax.faces.Integer"/>
		       		</h:inputText>
        		</h:column>
       		
       		</h:dataTable>
       		<h:commandLink value="build army" action="#{militaryBuildingDetails.buildArmy}"/>
       		</h:form>
       		
       		<h:form>
       			<h:commandLink value="upgrade" action="#{militaryBuildingDetails.upgradeBuilding}"  />
       		</h:form>
       		
       		<h:panelGroup id="objectDetails" layout="block">
<!--     			<ui:include src="include.xhtml" /> -->
					<h:outputText value="nazwa "/><h:outputText value="#{militaryBuildingDetails.unit.name}" /><br/>
       		<h:outputText value="opis "/><h:outputText value="#{militaryBuildingDetails.unit.description}" /><br/>
       		
       		<h:dataTable id="objectCostTable" value="#{militaryBuildingDetails.unit.price}" var="cr">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="typ surowca:" />		
        			</f:facet>
        			<h:outputText value="#{cr.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{cr.count}" />
        		</h:column>
       		
       		</h:dataTable>
       		
       		<h:form>
       		<h:dataTable id="reqTable" value="#{militaryBuildingDetails.unit.reqs}" var="r">
       	
       			<h:column>
        			<f:facet name="header" >
        				<h:outputText value="parent id:" />
        			</f:facet>
        			<h:outputText value="#{r.parentId}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="parent name:" />		
        			</f:facet>
        			<h:outputText value="#{r.parentName}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="required Level:" />		
        			</f:facet>
        			<h:outputText value="#{r.reqLvl}" />
        		</h:column>
       		
       		</h:dataTable>
       		
       		</h:form>
			</h:panelGroup>
       		
       
        </ui:define>

  </ui:composition>
</html>
