<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"  
      >
<h:head />
<body>
	<ui:composition>
<!-- 	<h:form id="testForm"> -->
<!-- 		<p:commandLink id="testLink" value="testLink" update=":testForm" ajax="true" action="#{mainContentBean.test}"/> -->
<!-- 	</h:form> -->
	<h:form id="mainContent2">
		asdf
		<p:commandLink id="upgradeLink" value="upgrade_test_asdf" update=":mCon" oncomplete="mainPanelWidget.show()" ajax="true" action="#{mainContentBean.upgrade}"/>
	</h:form>

	<h:form id="mCon">
		<p:panel header="F.C. Barcelona" footer="Visca el Barca!" id="mainPanel" closable="true" widgetVar="mainPanelWidget" visible="false">
			<h:outputText value="nazwa: "/><h:outputText value="#{mainContentBean.name}" /><br/>
      		<h:outputText value="opis: "/><h:outputText value="#{mainContentBean.description}" /><br/>
      		<h:outputText value="czas budowy: "/>
      		
      		<h:outputText value="#{mainContentBean.buildTime.hours}h:#{mainContentBean.buildTime.minutes}min:#{mainContentBean.buildTime.seconds}sec" >
      		
      		</h:outputText>
      		<br/>
      		<h:outputText id="obj_level" value="level: #{mainContentBean.level}" rendered="#{mainContentBean.content == 'research' || mainContentBean.content == 'cityBuilding' || mainContentBean.content == 'extractBuilding'}"/>
      		
      		<h:dataTable id="costTable" value="#{mainContentBean.cost}" var="cr">
      	
       		<h:column>
       			<f:facet name="header" >
       				<h:outputText value="typ surowca:" />		
       			</f:facet>
       			<h:outputText value="#{cr.type}" />
       		</h:column>
       		
       		<h:column>
       			<f:facet name="header" >
       				<h:outputText value="ilosc" />
       			</f:facet>
       			<h:outputText value="#{cr.count}" />
       		</h:column>
      		
      		</h:dataTable>
      		
      		<p:commandButton value="Start" id="start" type="button" onclick="start()" widgetVar="startButton1"/>  
		    <p:commandButton value="Cancel" id="cancel" type="button" onclick="cancel()" />
		    <h:outputText value="0" id="elapsed_time"/>
		    <h:outputText value="dd" id="debug"/>
		    <p:progressBar id="progressBarClient" widgetVar="pbClient" style="width:300px"/> 
		    <h:inputHidden id="time_hour" value="#{mainContentBean.buildTime.hours}" /> 
      		<h:inputHidden id="time_minute" value="#{mainContentBean.buildTime.minutes}" /> 
      		<h:inputHidden id="time_sec" value="#{mainContentBean.buildTime.seconds}" />
<!--       		<h:inputHidden id="level" value="#{mainContentBean.level}" /> -->
<!--       		<h:inputHidden id="oid" value="#{mainContentBean.id}" /> -->


      		<p:growl id="growl" showDetail="true" /> 
	      	<h:panelGrid columns="1" style="margin-bottom:10px" rendered="#{mainContentBean.content == 'extractBuilding'}">  
	       		<p:inputText id="txt5" value="#{buildingDetails.building.actualPeople}" />  
	       		<p:slider for="txt5" maxValue="#{buildingDetails.building.maxPeople}">  
	           		<p:ajax event="slideEnd" listener="#{buildingDetails.onSlideEnd}" update="growl" />  
	       		</p:slider>
	   		</h:panelGrid>

   			<p:commandLink id="upgradeLink" process="mainPanel" value="upgrade" update=":mCon" oncomplete="mainPanelWidget.show()" ajax="true" action="#{mainContentBean.upgrade}"  rendered="#{mainContentBean.content == 'extractBuilding' || mainContentBean.content == 'research' || mainContentBean.content == 'cityBuilding'}"/>
   			
   			<h:outputText value="ilość: #{unitDetailsBean.unit.count}" rendered="#{mainContentBean.content == 'unit'}" /><br/>
   			<h:outputLabel for="count" value="buduj:" rendered="#{mainContentBean.content == 'unit'}"/>  
         		<p:inputText id="count" rendered="#{mainContentBean.content == 'unit'}"
                     value="#{unitDetailsBean.unit.buildCount}" />
   			<p:commandLink value="buduj" update=":mCon" oncomplete="mainPanelWidget.show()" ajax="true" action="#{unitDetailsBean.buildUnit}"  rendered="#{mainContentBean.content == 'unit'}"/>
      			      		
			<script type="text/javascript">
			    function start() {   
			        startButton1.disable(); 
			        var hour = $("#mCon\\:time_hour").val(); 
		            var minute = $("#mContent\\:time_minute").val(); 
	            	var sec = $("#mCon\\:time_sec").val(); 
	            	var cur_lvl = "#{mConBean.level}"; 
	            	var sum_of_sec = parseInt(sec,10) + parseInt(minute*60,10) + parseInt(hour*60*60,10); 
		            var interval = 100 / sum_of_sec; 
		            var object_id = "#{mConBean.id}";  
		            $("#mCon\\:debug").text(object_id); 
			        window['progress'] = setInterval(function() {   
			            var oldValue = pbClient.getValue(), 
			            newValue = oldValue + interval; 
		            	sec = sec - 1; 
		           		 $("#mCon\\:elapsed_time").text(hour + ":" +minute +":"+ sec); 
			            pbClient.setValue(pbClient.getValue() + interval); 
			          
			            if(pbClient.getValue() == 100)
			            {   
			                clearInterval(window['progress']); 
			                if(cur_lvl != null) 
			                {
			                	$("#mCon\\:obj_level").text( parseInt(cur_lvl,10) + 1); 
 			                } 
			                inclevel([{name:'buildingId', value:object_id}]); 
 			            } 
			  
			        }, 1000); 
			    }   
			  
			    function cancel() {   
			        clearInterval(window['progress']);   
 			        pbClient.setValue(0);   
 			        startButton1.enable();   
 			    }   
						</script>
      			
      				<p:tabView id="tabView" rendered="#{mainContentBean.content == 'cityBuilding' || mainContentBean.content == 'extractBuilding'}">
				    <p:tab id="jednostkiTab" title="Jednostki" rendered="#{mainContentBean.unitsSize != 0}">  
				        <p:dataGrid var="u" value="#{mainContentBean.units}" columns="3" rows="12" id="unitDataGrid">  
			  
					        <p:panel header="#{u.name}" style="text-align:center" id="uPanel">  
					            <h:panelGrid columns="1" style="width:100%" id="uGrid">  
					                <p:graphicImage value="/images/cars/#{car.manufacturer}.jpg"/>   
					  
					                <h:outputText value="#{u.name}" />
					                <h:outputText value="id: #{u.id}" />
					                
					                <p:commandLink id="internalResearchLink" update=":mCon"  title="View Detail"  process="@this"
					                	 action="#{unitDetailsBean.loadUnit(u.id)}" oncomplete="mainPanelWidget.show()">
					                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
					                    <f:setPropertyActionListener value="unit"
					                            target="#{mainContentBean.content}" />
					                </p:commandLink>    

					            </h:panelGrid>  
					        </p:panel>  
			  
			    		</p:dataGrid>
				    </p:tab>  
				  
				    <p:tab id="badaniaTab" title="Badania" rendered="#{mainContentBean.researchesSize != 0}">  
				        <p:dataGrid var="r" value="#{mainContentBean.researches}" columns="3" rows="12" id="researchDataGrid">  
			  
					        <p:panel header="#{r.name}" style="text-align:center" id="rPanel">  
					            <h:panelGrid columns="1" style="width:100%" id="rGrid">  
					                <p:graphicImage value="/images/cars/#{car.manufacturer}.jpg"/>   
					  
					                <h:outputText value="#{r.name}" />
					                <h:outputText value="id: #{r.id}" />    
					                
					                <p:commandLink id="internalResearchLink" update=":mCon"  title="View Detail" process="@this"
					                	 action="#{researchDetailsBean.loadResearch(r.id)}" oncomplete="mainPanelWidget.show()">
					                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
					                    <f:setPropertyActionListener value="research"
					                            target="#{mainContentBean.content}" />
					                </p:commandLink>

					            </h:panelGrid>  
					        </p:panel>  
			  
			    		</p:dataGrid>
				    </p:tab>  
				  
				</p:tabView> 
   			
    	</p:panel>
    </h:form>
</ui:composition>
</body>

</html>


