<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bike Shop 2.0</title> 
    </h:head>
    
	<h:body>
	
	<f:metadata>
		<f:event type="preRenderView" listener="#{requestBean.loadCityState}"/>
		<f:event type="preRenderView" listener="#{resourceBean.loadResources}"/>
		<f:event type="preRenderView" listener="#{foodBean.loadFood}"/>
	</f:metadata>
       		
	<h:form>
		<p:dataTable value="#{foodBean.food}" var="f">
			<p:column style="width:20px;">
        		<f:facet name="header">
        			<h:outputText value="slider" />
        		</f:facet>
				<p:inputText id="asdfg" value="20" />  
				<p:slider for="asdfg" minValue="10" maxValue="100">  
				    <p:ajax event="slideEnd" listener="#{economyBean.onSlideEnd}"/>  
				</p:slider> 
        	</p:column>
		</p:dataTable>
	</h:form>
 
    </h:body>
    
</html>