<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <ui:composition template="../shopTemplate.xhtml">
       
        <f:metadata>
			<f:viewParam name="unitId" value="#{unitDetailsBean.unitId}"/>
			
			<f:event type="preRenderView" listener="#{requestBean.loadCityState}"/>
			<f:event type="preRenderView" listener="#{unitDetailsBean.loadUnit}"/>
		</f:metadata>
       
       	<ui:define name="resource">
			<h:dataTable id="resourceTable" value="#{resourceEconomyBean.resources}" var="r">

        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="name" />		
        			</f:facet>
        			<h:outputText value="#{r.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{r.count}" />
        		</h:column>
        		
       		</h:dataTable>
		</ui:define>
       
        <ui:define name="content">
        	<b><h:outputText value="#{msg['bikes.list.details']}"/></b><br/><br/>
       		<h:outputText value="nazwa "/><h:outputText value="#{unitDetailsBean.unit.name}" /><br/>
       		<h:outputText value="opis "/><h:outputText value="#{unitDetailsBean.unit.description}" /><br/>
       		
       		<h:dataTable id="costTable" value="#{unitDetailsBean.unit.price}" var="cr">
       	
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="typ surowca:" />		
        			</f:facet>
        			<h:outputText value="#{cr.type}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="ilosc" />
        			</f:facet>
        			<h:outputText value="#{cr.count}" />
        		</h:column>
       		
       		</h:dataTable>
       		
       		<h:form>
       		<h:dataTable id="reqTable" value="#{unitDetailsBean.unit.reqs}" var="r">
       	
       			<h:column>
        			<f:facet name="header" >
        				<h:outputText value="parent id:" />
        			</f:facet>
        			<h:outputText value="#{r.parentId}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="parent name:" />		
        			</f:facet>
        			<h:outputText value="#{r.parentName}" />
        		</h:column>
        		
        		<h:column>
        			<f:facet name="header" >
        				<h:outputText value="required Level:" />		
        			</f:facet>
        			<h:outputText value="#{r.reqLvl}" />
        		</h:column>
       		
       		</h:dataTable>
       		
       		</h:form>
       		
<!--        		<h:form> -->
<!--        			<h:commandLink value="upgrade" action="#{unitDetailsBean.upgradeBuilding}"  /> -->
<!--        		</h:form> -->
       
        </ui:define>

  </ui:composition>
</html>
